<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UIAutomation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C01C1FA185FAD870062F2FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C01C210185FAECB0062F2FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C01C234185FB2A20062F2FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C01C24A185FB2A20062F2FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C19272E185FAB32008BCE88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C326458185FA82D00338B11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C32646E185FA83E00338B11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78B19B9915B5B5E200D9E96E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78B19BAA15B5B5E200D9E96E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78E452CE15CA8EA700E8F653</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
